      <form class="form-inline" action='/search' method='get'>
        <div class="form-group">
          <input type='text' class="form-control" placeholder="Search" id="search" name='search'>
        </div>
        <div class="form-group">
          <input type='submit'class="btn btn-success" value='Submit'>
        </div>
        <div class="form-group">
          <input type='button' class="btn btn-info" onClick='location.href="/top"' value="Top Movies">
          <input type='button' class="btn btn-default" onClick='location.href="/"' value='Home'>
        </div>
      </form>