      <form action='/search' method='get'>
        <label for='search'>Search</label>
        <input type='text' name='search'>
        <input type='submit' value='submit'>
        <input type='button' onClick='location.href="/top"' value="get Top Movies">
        <input type='button' onClick='location.href="/"' value='goHome'>
      </form>