<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div>
      <h1><%= title %></h1>
      <p>Search for your favorite movie or check out the top 20</p>
      <hr>
    </div>
    <div class="containter">
      <% include ./partials/form.ejs %>
    </div>
  </body>
</html>
