<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <hr>
    </div>
    <div>
      <% include ./partials/form.ejs %>
    </div>
    <div>
        <% if(searchResults === "empty") { 
          console.log("we have empty results"); %>
          <h2>Search did not return any results, please try again</h2>
        <% } else {
          console.log("so we made it to the else"); %>
          <ul>
          <% searchResults.results.forEach(function(item) { %>
            <li> <%= item.title %> - <span style:"color:red"> <%= item.vote_count %> </span></li>
          <% }); %>
          </ul>
        <% }; %>
    </div>
  </body>
</html>
 