<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <div>
      <form action='/search' method='get'>
        <label for='search'>Search</label>
        <input type='text' id='search'>
        <input type='submit' value='submit'>
        <button onClick='/top' value="get Top Movies">Get Top Movies</button>
        <button onClick='/' value='goHome'>Go Home</button>
      </form>
    </div>
    <div>
      <ul>
        <% searchResults.results.forEach(function(item) { %>
          <li> <%= item.title %> </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
 