<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <hr>
    </div>
    <div>
      <% include ./partials/form.ejs %>
    </div>
    <hr>
    <div class="containter">
      <div class="row">
        <div class="col-md-4">
          <% if(searchResults === "empty") { 
            console.log("we have empty results"); %>
            <h2>Search did not return any results, please try again</h2>
          <% } else {
            console.log("so we made it to the else"); %>
            <h3>Search Results</h3>
            <ul>
            <% searchResults.results.forEach(function(item) { %>
              <li> <%= item.title %> - <span style="color:red"> <%= item.vote_count %> (votes)</span></li>
            <% }); %>
            </ul>
          <% }; %>
        </div>
        <div class="col-md-8">
          <!-- place for the chart -->
          <canvas id="myChart" ></canvas>
          <script type="text/javascript" src="/javascripts/chart.js"></script>
        </div>
      </div>
    </div>
  </body>
</html>
 